anticaptchaofficial==1.0.26
beautifulsoup4==4.9.3
bs4==0.0.1
Django==3.0.8
django-ratelimit==3.0.0
html5lib==1.1
Jinja2==2.10
lxml==4.5.2
Pillow==8.0.1
python3-anticaptcha==1.6.2
requests==2.25.0
requests-toolbelt==0.9.1
selenium==3.141.0